<ul>
  <li {% if url_last == 'chapter1' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter1">Introduction</a>
    <ul>
      <li {% if url_last == 'chapter1-2' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter1-2">Context</a></li>
      <li {% if url_last == 'chapter1-3' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter1-3">Highlights, Gaps &amp; Recommendations</a></li>
      <li {% if url_last == 'chapter1-4' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter1-4">Key to Case Study Icons</a></li>
    </ul>
  </li {% if url_last == 'chapter2-intro' %}class="Selected"{% endif %}>
  <li {% if url_last == 'chapter2-intro' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter2-intro">Publishing Fiscal Data</a>
    <ul>
      <li {% if url_last == 'chapter2-1' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter2-1">Out of the Box: Data.Gov.UK</a></li>
      <li {% if url_last == 'chapter2-2' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter2-2">DataBC</a></li>
      <li {% if url_last == 'chapter2-3' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter2-3">D-Brain in Korea</a></li>
      <li {% if url_last == 'chapter2-4' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter2-4">Portal Transparencia</a></li>
    </ul>
  </li {% if url_last == 'chapter3-intro' %}class="Selected"{% endif %}>
  <li {% if url_last == 'chapter3-intro' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter3-intro">Using Fiscal Data</a>
    <ul>
      <li {% if url_last == 'chapter3-1' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter3-1">Testimonials</a></li>
    </ul>
  </li {% if url_last == 'chapter4-intro' %}class="Selected"{% endif %}>
  <li {% if url_last == 'chapter4-intro' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter4-intro">Standards for Fiscal Data</a>
    <ul>
      <li {% if url_last == 'chapter4-1' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter4-1">International Aid Transparency Initiative</a></li>
      <li {% if url_last == 'chapter4-2' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter4-2">Financial Reporting with XBRL</a></li>
    </ul>
  </li>
  <li {% if url_last == 'chapter5-intro' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter5-intro">Where Does the Money Come From?</a>
    <ul>
      <li {% if url_last == 'chapter5-1' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter5-1">Government of Sierra Leone</a></li>
      <li {% if url_last == 'chapter5-2' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter5-2">Revenues from Oil and Mining</a></li>
    </ul>
  </li>
  <li {% if url_last == 'chapter6-intro' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter6-intro">Where Does the Money Go?</a>
    <ul>
      <li {% if url_last == 'chapter6-1' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter6-1">ClearSpending</a></li>
      <li {% if url_last == 'chapter6-2' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter6-2">The Media and Fiscal Data</a></li>
      <li {% if url_last == 'chapter6-3' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter6-3">Participatory Budgeting </a></li>
      <li {% if url_last == 'chapter6-4' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter6-4">Solo Kota Kita (Solo, Our City) </a></li>
      <li {% if url_last == 'chapter6-5' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter6-5">Citizen Budget</a></li>
      <li {% if url_last == 'chapter6-6' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter6-6">Mobile-Enhanced Participatory Budgeting</a></li>
    </ul>
  </li>
  <li {% if url_last == 'chapter7-intro' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter7-intro">The Invisible Money </a>
    <ul>
      <li {% if url_last == 'chapter7-1' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter7-1">Challenging corruption using mobile phones </a></li>
      <li {% if url_last == 'chapter7-2' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter7-2">What Can Governments Do to Help Social Auditors? </a></li>
    </ul>
  </li>
  <li {% if url_last == 'chapter8-intro' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter8-intro">Getting off-budget on-budget</a></li>
  <li {% if url_last == 'chapter9-intro' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter9-intro">Final Observations and Review</a></li>
  <li {% if url_last == 'chapter10-intro' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/chapter10-intro">Appendix</a></li>
  <li {% if url_last == 'bibliography' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/bibliography">Further Resources</a></li>
  <li {% if url_last == 'acknowledgements' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/gift/acknowledgements">Acknowledgements</a></li>
  <li><a href="{{ site.baseurl }}/resources/gift/pdf/ttapf_report_20120530.pdf">Download as PDF</a></li>
</ul>
