{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts |last  %}

<header class="site-header">
  <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.short_title }}</a>
  </div>
</header>

<nav id="menu">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>
    <li {% if page.url contains 'get-involved' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/get-involved/">Get Involved</a>
      <ul>
        <li {% if url_last == 'next' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/next/">OpenSpending Next</a>
          <ul>
            <li>
              <a target="_blank" href="https://trello.com/b/BNXzXDEc/openspending-next">Workboard</a>
            </li>
            <li>
              <a target="_blank" href="http://labs.openspending.org/osep/">Proposals (OSEPs)</a>
              <ul>
                <li>
                <a target="_blank" href="https://github.com/openspending/osep">GitHub (issues)</a>
                </li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://discuss.okfn.org/t/tech-hangout-june-2015/357">Tech Hangouts</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li {% if url_last == 'resources' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/resources/">Resources</a>
      <ul>
        <li {% if url_last == 'eu' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/eu/">Where Does Europe's Money Go?</a>
          <ul>
            <li {% if url_last == 'overview' %}class="Selected"{% endif %}>
              <a href="/resources/eu/overview/">The EU Budget at a Glance</a>
            </li>
            <li {% if url_last == 'budget' %}class="Selected"{% endif %}>
              <a href="/resources/eu/budget/">How is the EU Budget Set Up?</a>
            </li>
            <li {% if url_last == 'revenue' %}class="Selected"{% endif %}>
              <a href="/resources/eu/revenue/">Where Does the Money Come From?</a>
            </li>
            <li {% if url_last == 'expenditure' %}class="Selected"{% endif %}>
              <a href="/resources/eu/expenditure/">Who Manages and Spends the Money, and How?</a>
            </li>
            <li {% if url_last == 'funds' %}class="Selected"{% endif %}>
              <a href="/resources/eu/funds/">Where Does the Money Go?</a>
            </li>
            <li {% if url_last == 'transparency' %}class="Selected"{% endif %}>
              <a href="/resources/eu/transparency/">How Transparent is the EU Budget?</a>
            </li>
            <li {% if url_last == 'research' %}class="Selected"{% endif %}>
              <a href="/resources/eu/research/">Journalistic Investigations and Transparency Projects to Follow the Money</a>
            </li>
            <li {% if url_last == 'recommendations' %}class="Selected"{% endif %}>
              <a href="/resources/eu/recommendations/">Recommendations and Next Steps</a>
            </li>
            <li {% if url_last == 'datasets' %}class="Selected"{% endif %}>
              <a href="/resources/eu/datasets/">Annex - The Open Data Audit of EU Funds</a>
            </li>
            <li {% if url_last == 'legal-basis' %}class="Selected"{% endif %}>
              <a href="/resources/eu/legal-basis/">Annex - Legal Basis for the Establishment of the EU budget</a>
            </li>
          </ul>
        </li>
        <li {% if url_last == 'mappingcommunity' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/mappingcommunity/">Mapping the OpenSpending Community</a>
          <ul>
            <li {% if page.url contains 'mappingcommunity/introduction/' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/resources/mappingcommunity/introduction/">Introduction</a>
              <ul>
                <li {% if page.url contains 'mappingcommunity/introduction/videos/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/introduction/videos/">Athens to Berlin: Video Series</a></li>
                <li {% if page.url contains 'mappingcommunity/introduction/map/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/introduction/map/">Map of Contacts</a></li>
                <li {% if page.url contains 'mappingcommunity/introduction/timeline/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/introduction/timeline/">Timeline</a></li>
              </ul>
            </li>
            <li {% if page.url contains 'mappingcommunity/executive-summary/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/executive-summary/">Executive summary</a></li>
            <li {% if page.url contains 'mappingcommunity/case-studies-budgets/' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-budgets/">Case Studies: Budgets</a>
              <ul>
                <li {% if page.url contains 'mappingcommunity/case-studies-budgets/lost-money' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-budgets/lost-money">Bani pierduti?</a></li>
                <li {% if page.url contains 'mappingcommunity/case-studies-budgets/openbudgetoakland/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-budgets/openbudgetoakland/">OpenBudgetOakland</a></li>
                <li {% if page.url contains 'mappingcommunity/case-studies-budgets/cbga/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-budgets/cbga/">Centre for Budget and Governance Accountability</a></li>
                <li {% if page.url contains 'mappingcommunity/case-studies-budgets/bosnia/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-budgets/bosnia/">Centre for Public Interest Advocacy</a></li>
                <li {% if page.url contains 'mappingcommunity/case-studies-budgets/expert-grup/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-budgets/expert-grup/">Expert Grup</a></li>
              </ul>
            </li>
            <li {% if page.url contains 'mappingcommunity/case-studies-spending/' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-spending/">Case Studies: Spending</a>
              <ul>
                <li {% if page.url contains 'mappingcommunity/case-studies-spending/caring-for-my-neighbourhood/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-spending/caring-for-my-neighbourhood/">Caring for my Neighbourhood</a></li>
	        <li {% if page.url contains 'mappingcommunity/case-studies-spending/okfn-greece/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-spending/okfn-greece/">Open Knowledge Foundation Greece</a></li>
	        <li {% if page.url contains 'mappingcommunity/case-studies-spending/eu-spending-data/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-spending/eu-spending-data/">EU Spending Data</a></li>
	        <li {% if page.url contains 'mappingcommunity/case-studies-spending/farmsubsidy/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-spending/farmsubsidy/">FarmSubsidy.org</a></li>
	        <li {% if page.url contains 'mappingcommunity/case-studies-spending/farm-subsidies-mexico/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-spending/farm-subsidies-mexico/">Farm subsidies in Mexico</a></li>
	        <li {% if page.url contains 'mappingcommunity/case-studies-spending/india-spend/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-spending/india-spend/">India Spend</a></li>
	        <li {% if page.url contains 'mappingcommunity/case-studies-spending/supervizor/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-spending/supervizor/">Supervizor, Slovenia</a></li>
              </ul>
            </li>
            <li {% if page.url contains 'mappingcommunity/case-studies-procurements/' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-procurements/">Case Studies: Procurements</a>
              <ul>
	        <li {% if page.url contains 'mappingcommunity/case-studies-procurements/hutspace/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-procurements/hutspace/">Hutspace</a></li>
	        <li {% if page.url contains 'mappingcommunity/case-studies-procurements/texty/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-procurements/texty/">Texty</a></li>
	        <li {% if page.url contains 'mappingcommunity/case-studies-procurements/opented/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-procurements/opented/">OpenTED, Opening Tender Electronic Daily</a></li>
              </ul>
            </li>
            <li {% if page.url contains 'mappingcommunity/case-studies-other/' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-other/">Case Studies: From Local to Global</a>
              <ul>
	        <li {% if page.url contains 'mappingcommunity/case-studies-other/openspending/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-other/openspending/">OpenSpending</a></li>
	        <li {% if page.url contains 'mappingcommunity/case-studies-other/opening-university/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/case-studies-other/opening-university/">Open University</a></li>
              </ul>
            </li>
            <li {% if page.url contains 'mappingcommunity/conclusions/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/conclusions/">Conclusions</a></li>
            <li {% if page.url contains 'mappingcommunity/appendix/' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/resources/mappingcommunity/appendix/">Appendix</a>
              <ul>
	        <li {% if page.url contains 'mappingcommunity/appendix/open-budgets-open-data' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/appendix/open-budgets-open-data">Putting the Open Data into Open Budgets</a></li>
	        <li {% if page.url contains 'mappingcommunity/appendix/tool-ecosystem/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/appendix/tool-ecosystem/">Tool Ecosystem</a></li>
	        <li {% if page.url contains 'mappingcommunity/appendix/machinereadfaq/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/appendix/machinereadfaq/">Common arguments against publishing data</a></li>
	        <li {% if page.url contains 'mappingcommunity/appendix/privacyguide/' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/appendix/privacyguide/">How to publish spending data without disclosing personal information</a></li>
	        <li {% if page.url contains 'mappingcommunity/appendix/other-handy-datasets' %}class="Selected"{% endif %}><a href="{{ site.baseurl }}/resources/mappingcommunity/appendix/other-handy-datasets">Other handy datasets</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li {% if url_last == 'gift' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/gift/">Technology for Transparent and Accountable Public Finance</a>
          {% include gift_nav.html %}
        </li>
        <li {% if url_last == 'iati' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/iati/">IATI</a>
        </li>
        <li {% if url_last == 'journo' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/journo/">Follow the Money</a>
        </li>
        <li {% if url_last == 'gb-spending' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/gb-spending/">UK Departmental Spending</a>
        </li>
        <li {% if url_last == 'mobi' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/mobi/">OpenSpending.mobi</a>
        </li>
        <li {% if url_last == 'map-of-spending-projects' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/map-of-spending-projects/">Map of Spending Projects</a>
        </li>
        <li {% if url_last == 'wg' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/wg/">Working Group on Open Spending Data</a>
        </li>
        <li {% if url_last == 'handbook %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/handbook/">Spending Data Handbook</a>
        </li>
        <li {% if url_last == 'standard' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/standard/">Spending Data Standard (deprecated)</a>
          <ul>
            <li {% if page.url contains 'standard/technical' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/resources/standard/technical/">Technical Specification</a>
            </li>
            <li {% if page.url contains 'standard/faq' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/resources/standard/faq/">Frequently Asked Questions</a>
            </li>
            <li {% if page.url contains 'standard/related' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/resources/standard/related/">Related Initiatives</a>
            </li>
            <li {% if page.url contains 'standard/contribute' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/resources/standard/contribute/">Help make this standard</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li {% if url_last == 'meta' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/meta/">Meta</a>
      <ul>
        <li {% if url_last == 'changes' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/meta/changes/">Recent Changes</a>
        </li>
        <li {% if page.url contains 'meta/contribute' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/meta/contribute/">Contribute</a>
        </li>
        <li {% if page.url contains 'meta/media' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/meta/media/">Media</a>
        </li>
      </ul>
    </li>
    <li {% if url_last == 'about' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/about/">About</a>
      <ul>
        <li {% if url_last == 'exemplars' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/about/exemplars/">Exemplars</a>
        </li>
        <li {% if url_last == 'contributors' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/about/contributors/">Contributors</a>
        </li>
        <li {% if url_last == 'funders' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/about/funders/">Funders</a>
        </li>
        <li {% if url_last == 'presentations' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/about/presentations/">Presentations</a>
        </li>
      </ul>
    </li>
    <li {% if url_last == 'contact' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/about/contact/">Contact</a>
    </li>
    <li {% if url_last == 'blog' %}class="Selected"{% endif %}>
      <a href="/blog/">Blog</a>
    </li>
    <li>
      <a href="http://openspending.org/">OpenSpending Database (Deprecated)</a>
    </li>
  </ul>
</nav>
