{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts |last  %}

<header class="site-header">
  <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.short_title }}</a>
</header>

<nav id="menu">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>
    <li {% if page.url contains 'get-involved' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/get-involved/">Get Involved</a>
      <ul>
        <li {% if url_last == 'next' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/next/">OpenSpending Next</a>
          <ul>
            <li {% if page.url contains 'roadmap' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/next/roadmap/">Roadmap</a>
              <ul>
                {% for pg in site.pages %}
                {% if pg.section == 'next' %}
                {% if pg.type == 'spec' %}
                <li {% if page.url == pg.url %}class="Selected"{% endif %}>
                  <a href="{{ pg.url }}">{{ pg.title }}</a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://trello.com/b/BNXzXDEc/openspending-next-development">Workboard</a>
            </li>
            <li>
              <a target="_blank" href="http://labs.openspending.org/osep/">OSEPs</a>
            </li>
            <li>
              <a target="_blank" href="https://discuss.okfn.org/t/tech-hangout-june-2015/357">Tech Hangouts</a>
            </li>
            <li {% if url_last == 'presentation' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/next/presentation/">Presentation</a>
            </li>
          </ul>
        </li>

        <li {% if url_last == 'events' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/events/">Events</a>
          <ul>
            <li {% if url_last == 'hangouts' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/events/hangouts/">Hangouts</a>
            </li>
            <li {% if url_last == 'developer-meetings' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/events/developer-meetings/">Developer Meetings</a>
            </li>
            <li {% if url_last == 'data-parties' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/events/data-parties/">Data Parties</a>
            </li>
            <li {% if url_last == 'open-data-day' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/events/open-data-day/">Open Data Day</a>
            </li>
          </ul>
        </li>

        <li {% if url_last == 'data' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/get-involved/data/">Data Team</a>
        </li>
        <li {% if url_last == 'web' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/get-involved/web/">Web and News Team</a>
        </li>
        <li {% if url_last == 'translation-help' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/get-involved/translation-help/">Translation Help</a>
        </li>
        <li {% if url_last == 'development' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/get-involved/development/">Development</a>
        </li>
      </ul>
    </li>
    <li {% if url_last == 'help' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/help/">Help &amp; Guides</a>
      <ul>
        <li {% if url_last == 'en' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/help/guide/en/">OpenSpending Guide (English)</a>
        </li>
        <li {% if url_last == 'fr' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/help/guide/fr/">OpenSpending Guide (French)</a>
        </li>
        <li {% if url_last == 'it' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/help/guide/it/">OpenSpending Guide (Italian)</a>
        </li>
        <li {% if url_last == 'npl' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/help/guide/npl/">OpenSpending Guide (Nepali)</a>
        </li>
        <li {% if url_last == 'rom' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/help/guide/rom/">OpenSpending Guide (Romanian)</a>
        </li>
        <li {% if url_last == 'esp' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/help/guide/esp/">OpenSpending Guide (Spanish)</a>
        </li>
      </ul>
    </li>
    <li {% if url_last == 'resources' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/resources/">Resources</a>
      <ul>
        <li {% if url_last == 'eu' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/eu/">Where Does Europe's Money Go?</a>
          <ul>
            <li {% if url_last == 'overview' %}class="Selected"{% endif %}>
              <a href="/resources/eu/overview/">The EU Budget at a Glance</a>
            </li>
            <li {% if url_last == 'budget' %}class="Selected"{% endif %}>
              <a href="/resources/eu/budget/">How is the EU Budget Set Up?</a>
            </li>
            <li {% if url_last == 'revenue' %}class="Selected"{% endif %}>
              <a href="/resources/eu/revenue/">Where Does the Money Come From?</a>
            </li>
            <li {% if url_last == 'expenditure' %}class="Selected"{% endif %}>
              <a href="/resources/eu/expenditure/">Who Manages and Spends the Money, and How?</a>
            </li>
            <li {% if url_last == 'funds' %}class="Selected"{% endif %}>
              <a href="/resources/eu/funds/">Where Does the Money Go?</a>
            </li>
            <li {% if url_last == 'transparency' %}class="Selected"{% endif %}>
              <a href="/resources/eu/transparency/">How Transparent is the EU Budget?</a>
            </li>
            <li {% if url_last == 'research' %}class="Selected"{% endif %}>
              <a href="/resources/eu/research/">Journalistic Investigations and Transparency Projects to Follow the Money</a>
            </li>
            <li {% if url_last == 'recommendations' %}class="Selected"{% endif %}>
              <a href="/resources/eu/recommendations/">Recommendations and Next Steps</a>
            </li>
            <li {% if url_last == 'datasets' %}class="Selected"{% endif %}>
              <a href="/resources/eu/datasets/">Annex - The Open Data Audit of EU Funds</a>
            </li>
            <li {% if url_last == 'legal-basis' %}class="Selected"{% endif %}>
              <a href="/resources/eu/legal-basis/">Annex - Legal Basis for the Establishment of the EU budget</a>
            </li>
          </ul>
        </li>
        <li {% if url_last == 'gb-spending' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/gb-spending/">UK Departmental Spending</a>
        </li>
        <li {% if url_last == 'gift' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/gift/">GIFT</a>
          {% include gift_nav.html %}
        </li>
        <li {% if url_last == 'iati' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/iati/">IATI</a>
        </li>
        <li {% if url_last == 'journo' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/journo/">Follow the Money</a>
        </li>
        <li {% if url_last == 'map-of-spending-projects' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/map-of-spending-projects/">Map of Spending Projects</a>
        </li>
        <li {% if url_last == 'mappingcommunity' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/mappingcommunity/">Mapping the OpenSpending Community</a>
        </li>
        <li {% if url_last == 'mobi' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/mobi/">OpenSpending.mobi</a>
        </li>
        <li {% if url_last == 'wg' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/wg/">Working Group on Open Spending Data</a>
        </li>
        <li {% if url_last == 'standard' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/resources/standard/">Spending Data Standard</a>
          <ul>
            <li {% if page.url contains 'standard/technical' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/resources/standard/technical/">Technical Specification</a>
            </li>
            <li {% if page.url contains 'standard/faq' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/resources/standard/faq/">Frequently Asked Questions</a>
            </li>
            <li {% if page.url contains 'standard/related' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/resources/standard/related/">Related Initiatives</a>
            </li>
            <li {% if page.url contains 'standard/contribute' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/resources/standard/contribute/">Help make this standard</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li {% if url_last == 'meta' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/meta/">Meta</a>
      <ul>
        <li {% if url_last == 'changes' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/meta/changes/">Recent Changes</a>
        </li>
        <li {% if page.url contains 'meta/contribute' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/meta/contribute/">Contribute</a>
        </li>
      </ul>
    </li>
    <li {% if url_last == 'about' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/about/">About</a>
      <ul>
        <li {% if url_last == 'community-site' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/about/community-site/">About this site</a>
        </li>
        <li {% if url_last == 'exemplars' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/about/exemplars/">Exemplars</a>
        </li>
        <li {% if url_last == 'governance' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/about/governance/">Governance</a>
        </li>
        <li {% if url_last == 'contributors' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/about/contributors/">Contributors</a>
        </li>
        <li {% if url_last == 'timeline' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/about/timeline/">Timeline</a>
        </li>
        <li {% if url_last == 'funders' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/about/funders/">Funders</a>
        </li>
        <li {% if url_last == 'contact' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/about/contact/">Contact</a>
        </li>
      </ul>
    </li>
    <li {% if url_last == 'blog' %}class="Selected"{% endif %}>
      <a href="/blog/">Blog</a>
    </li>
    <li>
      <a href="http://openspending.org/">OpenSpending Database</a>
    </li>
  </ul>
</nav>
