---
layout: docs
section: next
title: OpenSpending Next
---

<div class="home">

  <br />
  <img src="/img/next_preview.jpg" alt="OpenSpending Next" />
  <div style="text-align: center"><i>OpenSpending Next Data Loader</i></div>
  <br />
  <p>
    <strong>OpenSpending Next</strong> is the next generation of the OpenSpending platform. All the documentation and specifications for work on Open Spending Next can be found here.
  </p>

  <h2>Roadmap</h2>
  <p>
    We are currently working towards a minimal viable product (MVP) of the new architecture discussed in <a href="http://labs.openspending.org/osep/osep-01.html">OSEP-01</a> and subsequent OSEPs. A roadmap is in place for 2015, and we are inviting interested developers to help by forming work teams.
  </p>
  <ul>
    <li><a href="/next/roadmap/">Roadmap</a></li>
    <li><a href="/next/roadmap/#components-and-teams">Work teams</a></li>
    <li><a href="https://trello.com/b/BNXzXDEc/openspending-next-development
">Workboard</a></li>
    <li><a href="/next/presentation/">Presentation</a></li>
  </ul>

  <h2>Tech Lead Group</h2>
  <p>
    The OpenSpending Tech Lead Group is a group of developers and domain experts who are helping Open Knowledge push forward with the new Open Spending roadmap.
  </p>
  <p>
    Tasks the group is involved with:
  </p>
  <ul>
    <li>Working through the existing OpenSpending Enhancement Proposals, and making new ones (of course, **anyone** can submit an OSEP, just <a href=" http://labs.openspending.org/osep/">follow the guidelines here</a>)</li>
    <li>Breaking up the general architecture into sets of specific components that individuals or teams may want to 'take ownership' over</li>
    <li>Synchronising our plans with other spend data projects - it is a complex area, and one we all want to solve well, so we want to do it together</li>
  </ul>
  <p>
    This is **not** a formal committee that has to sign off on every step along the path. Rather, it will be a group that helps bring the existing ideas into fruition, as well as discuss, debate and enhance them. The group will be limited to 5-10 participants.
  </p>
  <p>
    If you are interested in joining the Tech Lead Group, <a href=" https://github.com/openspending/next/issues/9">let us know here</a>.
  </p>
  <p>
    <strong>Current Tech Lead Group:</strong>
    <ul>
      <li>Rufus Pollock (@rgrp)</li>
      <li>Paul Walsh (@pwalsh)</li>
      <li>Tryggvi Björgvinsson (@tryggvib)</li>
      <li>Edgar Zanella Alvarenga (@aivuk)</li>
    </ul>
  </p>
  <h2>Enhancement Proposals</h2>
  <p>
    Open Spending Enhancement Proposals (OSEPs) are how we introduce large changes to OpenSpending. Anyone can put forward an enhancement proposal.
  </p>
  <ul>
    <li><a href="http://labs.openspending.org/osep/">All OSEPs</a></li>
    <li><a href="http://labs.openspending.org/osep/osep-00.html">OSEP Guidelines</a></li>
  </ul>

  <h2>Specifications</h2>
  <p>We are taking a just in time approach to specs. User stories and use cases should exist first, and from there, implementation details should be devised by working teams.</p>
  <ul>
    {% for page in site.pages %}
    {% if page.section == 'next' %}
    {% if page.type == 'spec' %}
      <li>
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>

</div>
