---
layout: page
---

<table>
  <tr><td>MFF heading:</td><td>{{ page.mff_heading }}</td></tr>
  <tr><td>Funds:</td><td>{{ page.title }}</td></tr>
  <tr><td>Policy supported:</td><td>{{ page.policy_supported }}</td></tr>
  <tr><td>2014-2020 MFF ceiling:</td><td>{{ page.y2014_2020_mffceilings_current_prices }}</td></tr>
  <tr><td>Managing Member States:</td><td>{{ page.managing_countries }}</td></tr>
  <tr><td>Managing Directorate-General:</td><td>{{ page.managing_dg_or_agencies }}</td></tr>
  <tr><td>Website:</td><td>{{ page.funds_url }}</td></tr>
</table>

{{ page.content }}
