---
layout: default
---

<ul class="breadcrumb">
    <li>
        <i class="icon-book"></i>
        <a href="index.html">Technology for Transparent and Accountable Public Finance</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{{ page.title }}</li>
</ul>

<div class="row">
    <div class="offset8 span4">
        <a href="http://fiscaltransparency.net"><img src="images/logo_small.png" /></a>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h3>Contents</h3>
        <ul class="">
            <li><a href="chapter1.html">Introduction</a>
                <ul>
                <li><a href="chapter1-2.html">Context</a></li>
                <li><strong><a href="chapter1-3.html">Highlights, Gaps &amp; Recommendations</a></strong></li>
                </ul>
            </li>
            <li><a href="chapter2-intro.html">Publishing Fiscal Data: Government Perspectives</a>
                <ul>
                <li><a href="chapter2-1.html">Out of the Box Solution: CKAN in Data.Gov.UK</a></li>
                <li><a href="chapter2-2.html">DataBC Open Data Portal of British Columbia</a></li>
                <li><a href="chapter2-3.html">D-Brain in Korea: Digital budgeting and accounting system</a></li>
                </ul>
            </li>
            <li><a href="chapter3-intro.html">Using Fiscal Data: Civil Society Perspectives</a>
                <ul>
                <li><a href="chapter3-1.html">Testimonials: User Perspectives on using Government Fiscal Data </a></li>
                </ul>
                </li>
            <li><a href="chapter4-intro.html">Standards for Fiscal Data</a>
                <ul>
                <li><a href="chapter4-1.html">International Aid Transparency Initiative (IATI) </a></li>
                <li><a href="chapter4-2.html">International Financial Reporting Standards: XBRL </a></li>
                </ul>
                </li>
            <li><a href="chapter5-intro.html">Case Studies - Where Does the Money Come From?</a>
                <ul>
                <li><a href="chapter5-1.html">Government of Sierra Leone GoSL: Online Repository for Ministry of Mines and Mineral Resources </a></li>
                <li><a href="chapter5-2.html">Revenues from Oil and Mining : Revenue Watch </a></li>
                </ul>
                </li>
            <li><a href="chapter6-intro.html">Case Studies - Where Does the Money Go?</a>
                <ul>
                <li><a href="chapter6-1.html">ClearSpending from the Sunlight Foundation </a></li>
                <li><a href="chapter6-2.html">The Media and Fiscal Data: How do we get fiscal data into the public eye? </a></li>
                <li><a href="chapter6-3.html">Deciding where the money goes: Participatory Budgeting </a></li>
                <li><a href="chapter6-4.html">Mini atlases for participatory budgeting: Solo Kota Kita (English: Solo, Our City) </a></li>
                <li><a href="chapter6-5.html">Balance your City’s Budget : Citizen Budget, Open North</a></li>
                <li><a href="chapter6-6.html">Mobile-Enhanced Participatory Budgeting : the World Bank </a></li>
                </ul>
                </li>
            <li><a href="chapter7-intro.html">Case Studies - The Invisible Money </a>
                <ul>
                <li><a href="chapter7-1.html">From Fractions to Millions: Challenging corruption using mobile phones </a></li>
                <li><a href="chapter7-2.html">What Can Governments Do to Help Social Auditors? </a></li>
                </ul>
                </li>
            <li><a href="chapter8-intro.html">Putting the Parts Together - Getting off-budget on-budget OpenSpending & Publish What You Fund</a></li>
            <li><a href="chapter9-intro.html">Final Observations and Review</a></li>
            <li><a href="bibliography.html">Further Reading</a></li>
        </ul>
    </div>
    <div class="span8">
        {{ content }}
    </div>
</div>