---
layout: default
---

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/resources/index.html">Resources</a>
        <span class="divider">/</span>
        <a href="index.html">Technology for Transparent and Accountable Public Finance</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{{ page.title }}</li>
</ul>



<div class="row">
    <div class="span4">
        <img src="images/logo.png" />
        <h3>Contents</h3>
        <ul class="">
            <li><a href="chapter1.html">Introduction</a></li>
            <li><a href="chapter2-intro.html">Publishing Fiscal Data: Government Perspectives</a></li>
            <li><a href="chapter3-intro.html">User perspectives on using Government Fiscal Data</a></li>
            <li><a href="chapter4-intro.html">Standards for Fiscal Data</a></li>
            <li><a href="chapter5-intro.html">Case Studies - Where Does the Money Come From?</a></li>
        </ul>
    </div>
    <div class="span8">
        {{ content }}
    </div>
</div>