---
layout: default
---

<ul class="breadcrumb">
    <li>
        <i class="icon-book"></i>
        <a href="index.html">Technology for Transparent and Accountable Public Finance</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{{ page.title }}</li>
</ul>

<div class="row">
    <div class="offset8 span4">
        <a href="http://fiscaltransparency.net"><img src="images/logo_small.png" /></a>
        <br/><br/>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h3>Contents</h3>
        <ul class="">
            <li><a href="chapter1.html">Introduction</a>
                <ul>
                <li><a href="chapter1-2.html">Context</a></li>
                <li><strong><a href="chapter1-3.html">Highlights, Gaps &amp; Recommendations</a></strong></li>
                <li><strong><a href="chapter1-4.html">Key to Case Study Icons</a></strong></li>
                </ul>
            </li>
            <li><a href="chapter2-intro.html">Publishing Fiscal Data</a>
                <ul>
                <li><a href="chapter2-1.html">CKAN in Data.Gov.UK</a></li>
                <li><a href="chapter2-2.html">DataBC</a></li>
                <li><a href="chapter2-3.html">D-Brain in Korea</a></li>
                <li><a href="chapter2-4.html">Portal Transparencia</a></li>
                </ul>
            </li>
            <li><a href="chapter3-intro.html">Using Fiscal Data</a>
                <ul>
                <li><a href="chapter3-1.html">Testimonials</a></li>
                </ul>
                </li>
            <li><a href="chapter4-intro.html">Standards for Fiscal Data</a>
                <ul>
                <li><a href="chapter4-1.html">International Aid Transparency Initiative</a></li>
                <li><a href="chapter4-2.html">Financial Reporting with XBRL</a></li>
                </ul>
                </li>
            <li><a href="chapter5-intro.html">Where Does the Money Come From?</a>
                <ul>
                <li><a href="chapter5-1.html">Government of Sierra Leone</a></li>
                <li><a href="chapter5-2.html">Revenues from Oil and Mining</a></li>
                </ul>
                </li>
            <li><a href="chapter6-intro.html">Where Does the Money Go?</a>
                <ul>
                <li><a href="chapter6-1.html">ClearSpending</a></li>
                <li><a href="chapter6-2.html">The Media and Fiscal Data</a></li>
                <li><a href="chapter6-3.html">Participatory Budgeting </a></li>
                <li><a href="chapter6-4.html">Solo Kota Kita (Solo, Our City) </a></li>
                <li><a href="chapter6-5.html">Citizen Budget</a></li>
                <li><a href="chapter6-6.html">Mobile-Enhanced Participatory Budgeting</a></li>
                </ul>
                </li>
            <li><a href="chapter7-intro.html">The Invisible Money </a>
                <ul>
                <li><a href="chapter7-1.html">Challenging corruption using mobile phones </a></li>
                <li><a href="chapter7-2.html">What Can Governments Do to Help Social Auditors? </a></li>
                </ul>
                </li>
            <li><a href="chapter8-intro.html">Getting off-budget on-budget</a></li>
            <li><a href="chapter9-intro.html">Final Observations and Review</a></li>
            <li><a href="bibliography.html">Further Reading</a></li>
            <li><a href="acknowledgements.html">Acknowledgements</a></li>
        </ul>
    </div>
    <div class="span8">
        {{ content }}
    </div>
</div>