---
layout: default
---

<style>
  #note {
    padding: 20px;
    margin-bottom: 1em;
    background-color: #ddd;
      -webkit-border-radius: 12px;
                border-radius: 12px;
                -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  }
</style>

<div class="top-image">
  <img src="images/header.png" />
  <h2>Spending Data Handbook</h2>
</div>

<ul class="breadcrumb">
    <li>
        <i class="icon-book"></i>
        <a href="/resources/handbook/ch001_introduction.html">Spending Data Handbook</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{{ page.title }}</li>
</ul>

{{ content }}

