---
layout: help_frame
---

<ul class="breadcrumb">
    <li>
        <i class="icon-question-sign"></i>
        <a href="/help/index.html">Help and Documentation</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{{ page.title }}</li>
</ul>

<div class="row">
    <div class="span4">
        <div class="span4">
            <ul class="nav nav-list span3">
                <li class="nav-header">Basic Information</li>
                <li><a href="types.html">Financial data types</a></li>
                <li><a href="api-olap.html">How we store data</a></li>
                
                <li class="nav-header">Loading data</li>
                <li><a href="data-loading.html">Overview</a></li>
                <li><a href="data-cleansing.html">Cleaning data</a></li>
                <li><a href="data-extension.html">Extending data</a></li>
                <li class="nav-header">
                    Using the API
                </li>
                <li><a href="api.html">Overview</a></li>
                <li><a href="api-aggregator.html">Aggregation</a></li>
                <li><a href="api-resources.html">Resources</a></li>
                <li><a href="api-search.html">Full-text search</a></li>
                <li><a href="api-tax.html">Personal Tax</a></li>
                <li><a href="api-loading.html">Dataset loading</a></li>
            </ul>
        </div>
    </div>
    <div class="span8">
        {{ content }}
    </div>
</div>