---
layout: default
---

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/">OpenSpending.org</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{{ page.title }}</li>
</ul>

<div class="row">
    <div class="span4">
        <div class="tabbable tabs-left span4">
            <ul class="nav nav-tabs">
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="contribute.html">Get involved</a></li>
                <li><a href="funders.html">Our funders</a></li>
                <li><a href="team.html">The team</a></li>
                <li><a href="contact.html">Contact us</a></li>
            </ul>
        </div>
    </div>
    <div class="span8">
        {{ content }}
    </div>
</div>