---
layout: default
---

<ul class="breadcrumb">
    <li>
        <i class="icon-book"></i>
        <a href="index.html">OSI Report</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{{ page.title }}</li>
</ul>

<div class="row">
    <div class="span4">
        <h3>Contents</h3>
        <ul class="nav nav-list">
            <li><a href="index.html">Introduction</a>
                <ul class="nav nav-list">
                <li><a href="videos.html">Athens to Berlin: Video Series</a>
        		<li><a href="map.html">Map of Contacts</a>
        		<li><a href="timeline.html">Timeline of Activities</a>
        		</ul>
            <li><a href="case-studies-budgets.html">Case Studies - Budgets</a>
                <ul class="nav nav-list">
                <li><a href="expert-grup.html">Expert Grup, Moldova</a></li>
                <li><a href="openbudgetoakland.html">OpenOakLand, United States </a></li>
                <li><a href="cbga.html">Centre for Budget and Governance Accountability, India </a></li>
                <li><a href="bosnia.html">Budzeti.ba, Bosnia </a></li>
                </ul>
            </li>
            <li><a href="case-studies-spending.html">Case Studies - Spending</a>
	      <ul class="nav nav-list">
		<li><a href="okfn-greece.html">OKFN Greece</a>
		<li><a href="eu-spending-data.html">EU Spending Data</a>
		<li><a href="farmsubsidy.html">Farmsubsidy.org</a>
		<li><a href="farmsubsidies-mexico.html">Farmsubsidies in Mexico</a>
		<li><a href="india-spend.html">India Spend, India </a></li>
	      </ul>
	    </li>
            <li><a href="case-studies-procurements.html">Case Studies - Procurement</a>
	      <ul class="nav nav-list">
		<li><a href="hutspace.html">Hutspace, Ghana</a>
		<li><a href="texty.html">Texty, Ukraine</a>
		<li><a href="opented.html">OpenTED, EU contracts</a>
	      </ul>
	      <li><a href="case-studies-other.html">Case Studies - From International to Micro</a>
	      <ul class="nav nav-list">
  		<li><a href="openspending.html">OpenSpending: Scaling from International to Local</a>
  		<li><a href="seville.html">Budget transparency for an open university</a>
  		</ul>
  		<li><a href="appendix.html">Appendix</a>
    	    <ul class="nav nav-list">
      	<li><a href="appendix-open-budgets-open-data.html">Putting the Open Data into Open Budgets</a>
      	<li><a href="tool-ecosystem.html">Tool Ecosystem: What tools do people use to work with financial data?</a></li>
  	      </ul>
	    </li>
        </ul>
    </div>
    <div class="span8">
        {{ content }}
    </div>
</div>
