---
layout: default
---

<div class="top-image">
    <img src="images/header.png" />
    <h2>spendingdata.org</h2>
</div>

<ul class="breadcrumb">
    <li>
        <i class="icon-book"></i>
        <a href="/resources/standard/index.html">Spending Standard</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{{ page.title }}</li>
</ul>

<div class="alert">
      <strong>This document is an early draft.</strong> It is mainly intended as a
          basis for discussion. If you want contribute, please <a href="contribute.html">join us</a>.
</div>

<div class="row">
    <div class="offset4 span8">
        <h2>{{ page.title }}</h2>
    </div>
</div>

<div class="row">
    <div class="span4">
        <ul class="nav nav-list span3">
            <li class="nav-header">Draft</li>
            <li><a href="index.html">Introduction</a></li>
            <li><a href="technical.html">Technical Specification</a></li>
            <li><a href="faq.html">Frequently Asked Questions</a></li>
            <li><a href="related.html">Related Initiatives</a></li>
            <li><a class="heavy" href="contribute.html">Help make this standard</a></li>
        </ul>
    </div>
    <div class="span8">
        {{ content }}
    </div>
</div>
